*{
    padding: 0px;
    margin-bottom: 0px;
}
body {
    background-image: url(../img/ChatGPT\ Image\ Sep\ 17\,\ 2025\,\ 11_36_24\ AM.png);
    background-repeat: repeat;
}

.nav-header a {
    text-decoration: none;
    background-color: #254737;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 5px;
    color: #FAF8EE;
    font-size: 30px;
}

.section-header {
    display: flex;
    flex-direction: row;
    background-color: #FAF8EE;
    border-radius: 20px;
    margin-bottom: 30px;
}


.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-right: 20px;
}

.logo {
    width: 130px;
    height: auto;
    margin-left: 20px;
    border-radius: 100px;
}

.main-home{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.categorias{
    background-color: #FAF8EE;
    border-radius: 20px;
}

.categorias ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
    padding: 20px;
}

.categorias a{
    text-decoration: none;
    background-color: #254737;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
    color: #FAF8EE;
    font-size: 25px;
}

.camisetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap : 20px;
    justify-content: center;
    margin-left: 20px;
}

.argentina, .alemania, .españa, .brasil, .holanda, .italia{
    background-color: #FAF8EE;
    border-radius: 20px;
    width: 300px;
    height: auto;
    padding: 10px;
    text-align: center;
}

.argentina img, .alemania img, .españa img, .brasil img, .holanda img, .italia img{
    width: 250px;
    height: auto;
}

.productos h1{
    text-align: center;
    background-color: #254737;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 5px;
    color: #FAF8EE;
    font-size: 25px;
    border: 2px solid #FAF8EE;
    margin-bottom: 20px;
}

